<phpunit
    colors="true"
    bootstrap="bootstrap.test.php">
  <testsuites>
    <testsuite name="MapFilter_TreePattern">
      <directory suffix=".test.php">.</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <blacklist>
      <file>../Interface.php</file>
      <file>../NullPattern.php</file>
      <file>../InvalidStructureException.php</file>
      <file>../../MapFilter.php</file>
    </blacklist>
  </filter>
</phpunit>
